body {
    --purple700: hsl(257, 40%, 49%);
    --magenta400: hsl(300, 69%, 71%);
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    font-size: 18px;
    background-color: var(--purple700);
}

h1,
button {
    font-family: 'Poppins', sans-serif;
}

.max-width-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 44px;
    position: relative;
}

picture > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

main {
    position: relative;
    color: white;
    text-align: center;
}

.brand-logo {
    width: 45%;
    margin-left: -4px;
}

.mockup-img {
    margin: 4rem 0rem;
}

h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

p {
    margin: 1.5rem 0rem 2.5rem;
}

button {
    padding: 1rem 3rem;
    border-radius: 50px;
    font-size: 0.9rem;
    margin-bottom: 4rem;
    border: none;
    box-shadow: 0px 4px 4px hsl(257, 40%, 40%);
    color: var(--purple700);
}

button:active {
    cursor: pointer;
    color: white;
    box-shadow: 0px 6px 6px hsl(257, 30%, 30%);
    background-color: var(--magenta400);
    font-weight: 600;
}

.socials {
    margin: auto;
    max-width: 40%;
    display: flex;
    justify-content: space-evenly;
}

svg {
    display: inline-block;
    overflow: visible;
    height: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.4rem 0.45rem;
    fill: white;
}

svg:first-of-type {
    padding: 0.5rem 0.65rem;
}

svg:hover {
    fill: var(--magenta400);
    border: 2px solid var(--magenta400);
    cursor: pointer;
}

@media (min-width: 600px) {
    html,
    body {
        height: 100%;
    }
    picture > img {
        height: 100%;
    }
    .max-width-wrapper {
        max-width: 100%;
        height: 100%;
    }

    .brand-logo {
        width: 30%;
    }

    .mockup-img {
        width: 100%;
    }

    main {
        display: grid;
        gap: 4rem;
        grid-template-columns: 1.25fr 1fr;
        text-align: left;
        position: relative;
        height: 100%;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        max-width: 90%;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    button {
        width: 30%;
        margin-bottom: 0rem;
        padding: 1.25rem 3rem;
        font-size: 1rem;
        box-shadow: 0px 6px 6px hsl(257, 40%, 40%);
        text-align: center;
    }

    .socials {
        position: absolute;
        right: 44px;
        bottom: 32px;
        gap: 0.75rem;
    }

    svg {
        height: 2.5rem;
    }

    svg:first-of-type {
        padding: 0.5rem 0.75rem;
    }
}
